<%= link_to "Home Page", root_path %>

<h1> Dashboard </h1>


<h3> Favorite Holidays </h3>

<ul>
  <% @favorites.each do |holiday| %>
  <li> <%= holiday.name %> is  <%= holiday.date%></li>
  <% end %>
</ul>
